
.title{
    font-size: 50px;
    margin-left: 44%;
    border: 2px solid black;
    width: 230px;
}

.button{
    font-size: 25px;
    margin-left: 44%;
    border: 2px solid black;
    width: 230px;
}


.box{
    margin-bottom: 40px;
    margin-right: 5%;
    width: 50px;
    height: 50px;
}

.text{
    height: 86px;
    width: 85%;
    margin-right: 5%;
    margin-top: -50px;
    margin-bottom: 40px;
    font-size: 40px;
    border: 0px;
    border-bottom: 1px solid black;
}

